body {
    background: #f3f3f3 !important;
}

.container {
    background: #fff;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 0 30px;
    min-height: 100vh;
}

.header {
    padding: 20px 0;
    clear: both;
}

div.logo, div.menu {
    display: inline-block;
}

div.logo {
    width: 50%;
}

div.menu {
    width: 50%;
    text-align: right;
}

.menu ul li {
    display: inline-block;
    list-style: none;
}

.menu ul li a {
    color: #222;
    display: block;
    padding: 0 8px;
}


/* HERO */

.hero {
    background: #f3f3f3;
    padding: 40px 30px;
}


.hero p {
    margin-top: 5px;
}

.categories a, .trending a {
    color: #222;
}